body{
  background: url('../public/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.App{
  text-align: center;
  padding: 200px 0px;
}
.cntdisplay{
  border: 2px solid black;
  padding:20px;
  margin:10px 200px;
  display:flex;
  width:80%;
  background-color:rgba(255,255,255, 0.7);
}
.images{
  display: flex;
}
.cntimage{
  width:350px;
  height:300px;
  margin:auto;
  margin-left:10px
}
.cntimage1{
  width:350px;
  height:300px
}
.details{
  padding: 20px;
  margin: 10px;
  text-align:center
}


@media(max-width:769px){
  .cntdisplay{
    margin:10px 100px;
    display:block;
  }
  .cntimage{
    width:300px;
    height:250px
  }
  .cntimage1{
    width:300px;
    height:250px
  }
  .details{
    padding: '20px';
    margin: '10px 30px';
    text-align:'center'
  }
  .images{
    display: block;
    margin-left: 100px;
  }
}

@media(max-width:426px){
  .cntdisplay{
    margin:10px 30px;
    display:block;
    width:80%
  }
  .cntimage{
    width:250px;
    height:200px
  }
  .cntimage1{
    width:250px;
    height:200px
  }
  .details{
    padding: '20px';
    margin: '10px 20px';
    text-align:'center'
  }
  .images{
    display: block;
  }
}